name: Update VPN Subscription

permissions:
  contents: write

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}   # ← استفاده از PAT
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: pip install requests beautifulsoup4

      - name: Run scraper
        run: python update.py

      - name: Commit & Push with PAT
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          
          git add subscription.txt subscription_base64.txt last_update.txt
          
          if git diff --staged --quiet; then
            echo "No changes."
          else
            git commit -m "Update subscription $(date -u +'%Y-%m-%d %H:%M:%S UTC')"
            git push https://x-access-token:${{ secrets.PAT }}@github.com/${{ github.repository }}.git HEAD:main
          fi
